In [1]:
#import necessary library
import pandas as pd

In [8]:
#read data from csv file fire department of New York City
df_fdny_csv_data_raw = pd.read_csv('C:\dataset\FDNY_Firehouse_Listing.csv')

In [9]:
#view content of data
df_fdny_csv_data_raw.describe

<bound method NDFrame.describe of                                           FacilityName  \
0                                   Engine 4/Ladder 15
1                                             Engine 6
2    Manhattan Borough Command/Battalion 1/Engine 7...
3                                             Ladder 8
4                                    Engine 9/Ladder 6
..                                                 ...
214                               Engine 167/Ladder 87
215                               Engine 164/Ladder 84
216                               Engine 151/Ladder 76
217                                         Engine 168
218                                           Marine 9

              FacilityAddress        Borough  Postcode   Latitude  Longitude  \
0             42 South Street      Manhattan     10005  40.703694 -74.007717
1           49 Beekman Street      Manhattan     10038  40.709971 -74.005395
2            100 Duane Street      Manhattan     10007  40.715339 -74.006300
3          14 N. Moore Street      Manhattan     10013  40.719574 -74.006620
4             75 Canal Street      Manhattan     10002  40.715408 -73.992834
..                        ...            ...       ...        ...        ...
214         345 Annadale Road  Staten Island     10312  40.554191 -74.175479
215  1560 Drumgoole Road West  Staten Island     10312  40.535418 -74.196059
216           7219 Amboy Road  Staten Island     10307  40.512739 -74.238950
217        1100 Rossville Ave  Staten Island     10309  40.553942 -74.213083
218          305 Front Street  Staten Island     10304  40.629954 -74.072430

     Community Board  Community Council   Census Tract      BIN         BBL  \
0                101                   1             7  1000867  1000350001
1                101                   1          1501  1001287  1000930030
2                101                   1            33  1001647  1001500025
3                101                   1            33  1002150  1001890035
4                103                   1            16  1003898  1003000030
..               ...                 ...           ...      ...         ...
214              503                  51         17012  5075428  5056420006
215              503                  51         20804  5083491  5068280065
216              503                  51           248  5089056  5080400010
217              503                  51         20801  5154879  5070670252
218              501                  49            21  5169276  5004870100

                                            NTA
0             Battery Park City-Lower Manhattan
1             Battery Park City-Lower Manhattan
2        SoHo-TriBeCa-Civic Center-Little Italy
3        SoHo-TriBeCa-Civic Center-Little Italy
4                                     Chinatown
..                                          ...
214  Annadale-Huguenot-Prince's Bay-Eltingville
215                           Rossville-Woodrow
216      Charleston-Richmond Valley-Tottenville
217                           Rossville-Woodrow
218                          Stapleton-Rosebank

[219 rows x 12 columns]>

In [11]:
#view first five records
df_fdny_csv_data_raw.head(5)

,FacilityName,FacilityAddress,Borough,Postcode,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Engine 4/Ladder 15,42 South Street,Manhattan,10005,40.703694,-74.007717,101,1,7,1000867,1000350001,Battery Park City-Lower Manhattan
1,Engine 6,49 Beekman Street,Manhattan,10038,40.709971,-74.005395,101,1,1501,1001287,1000930030,Battery Park City-Lower Manhattan
2,Manhattan Borough Command/Battalion 1/Engine 7...,100 Duane Street,Manhattan,10007,40.715339,-74.006300,101,1,33,1001647,1001500025,SoHo-TriBeCa-Civic Center-Little Italy
3,Ladder 8,14 N. Moore Street,Manhattan,10013,40.719574,-74.006620,101,1,33,1002150,1001890035,SoHo-TriBeCa-Civic Center-Little Italy
4,Engine 9/Ladder 6,75 Canal Street,Manhattan,10002,40.715408,-73.992834,103,1,16,1003898,1003000030,Chinatown

In [14]:
#skip the first row from dataset
df_fdny_csv_data = pd.read_csv('C:\dataset\FDNY_Firehouse_Listing.csv',skiprows=1)

In [13]:
#view first five records
df_fdny_csv_data_raw.head(5)

,FacilityName,FacilityAddress,Borough,Postcode,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Engine 4/Ladder 15,42 South Street,Manhattan,10005,40.703694,-74.007717,101,1,7,1000867,1000350001,Battery Park City-Lower Manhattan
1,Engine 6,49 Beekman Street,Manhattan,10038,40.709971,-74.005395,101,1,1501,1001287,1000930030,Battery Park City-Lower Manhattan
2,Manhattan Borough Command/Battalion 1/Engine 7...,100 Duane Street,Manhattan,10007,40.715339,-74.006300,101,1,33,1001647,1001500025,SoHo-TriBeCa-Civic Center-Little Italy
3,Ladder 8,14 N. Moore Street,Manhattan,10013,40.719574,-74.006620,101,1,33,1002150,1001890035,SoHo-TriBeCa-Civic Center-Little Italy
4,Engine 9/Ladder 6,75 Canal Street,Manhattan,10002,40.715408,-73.992834,103,1,16,1003898,1003000030,Chinatown

In [15]:
#view data statistics using describe()
df_fdny_csv_data.describe()

,10005,40.703694,-74.007717,101,1,7,1000867,1000350001
count,218.000000,218.000000,218.000000,218.000000,218.000000,218.000000,2.180000e+02,2.180000e+02
mean,10794.844037,40.719587,-73.936431,290.114679,25.688073,5834.834862,2.923232e+06,2.867710e+09
std,554.791540,0.083489,0.093360,126.674410,15.525628,19360.030976,1.300148e+06,1.277982e+09
min,10001.000000,40.512739,-74.238950,101.000000,1.000000,1.000000,1.001287e+06,1.000520e+09
25%,10305.000000,40.664263,-73.984150,203.000000,12.250000,129.250000,2.007899e+06,2.026968e+09
50%,11153.000000,40.715373,-73.936858,306.000000,26.500000,279.500000,3.071000e+06,3.025125e+09
75%,11232.750000,40.774282,-73.886600,405.000000,38.000000,818.000000,4.087378e+06,4.031320e+09
max,11695.000000,40.893028,-73.716081,503.000000,51.000000,157902.000000,5.169276e+06,5.080400e+09

In [16]:
#view columns of the dataset
df_fdny_csv_data.columns

Index(['Engine 4/Ladder 15', '42 South Street', 'Manhattan', '10005',
       '40.703694', '-74.007717', '101', '1', '7', '1000867', '1000350001',
       'Battery Park City-Lower Manhattan'],
      dtype='object')

In [17]:
#view index of dataset
df_fdny_csv_data.index

RangeIndex(start=0, stop=218, step=1)

In [18]:
#count number of records
df_fdny_csv_data.count()

Engine 4/Ladder 15                   218
42 South Street                      218
Manhattan                            218
10005                                218
40.703694                            218
-74.007717                           218
101                                  218
1                                    218
7                                    218
1000867                              218
1000350001                           218
Battery Park City-Lower Manhattan    218
dtype: int64

In [19]:
#view datatypes
df_fdny_csv_data.dtypes

Engine 4/Ladder 15                    object
42 South Street                       object
Manhattan                             object
10005                                  int64
40.703694                            float64
-74.007717                           float64
101                                    int64
1                                      int64
7                                      int64
1000867                                int64
1000350001                             int64
Battery Park City-Lower Manhattan     object
dtype: object

In [23]:
#select FDNY information boroughwise
groupby_borough = df_fdny_csv_data.groupby